/build
/*/*.idea/
/*/.idea/
.idea/
/*/.gradle/
/*/build/
/*/app/build/
/*/.DS_Store
/*/captures/
/*/.externalNativeBuild/
/*/.cxx/
/*/.kotlin/
_APK/
_REPORTS/
.gradle/
/*/*/local.properties
/*/local.properties
local.properties
/*/app/libs/*.aar
/*/*/build